BasedOnStyle: LLVM
IndentWidth: 4
column_limit: 200
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: None
BreakConstructorInitializersBeforeComma: true
SpacesInAngles: false
